body {
  background-color: var(--body-background);
  color: var(--body-text-colour);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh; /* 使内容填满页面，使页脚位于页面底部 */
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
}

main {
  height: 100%;
  justify-content: center;
  margin: 0 auto; /* 当浏览器足够宽时居中显示 */
  min-width: 25rem; /* 不要让内容变得太窄 */
  max-width: 70rem; /* 不要让内容变得太宽 */
  padding: 0;
}

section {
  width: 95%;
  text-align: center;
  padding: 2.5% 2.5%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

h1 {
  width: 100%;
}

/* 导航栏 */
nav {
  padding: 0 15px;
  height: 60px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-colour);
}

/* 导航项目 */
.nav-items {
  display: flex;
  gap: 100px;
}

/* 导航栏链接 */
.nav-items > a {
  color: var(--nav-items-colour);
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

/* 导航链接悬停 */
.nav-items > a:hover {
  color: var(--nav-items-active);
}

/* 导航链接处于活动状态 */
.nav-items .active {
  color: var(--nav-items-active);
  pointer-events: none;
}

/* 汉堡（折叠）菜单 */

/* 首页横幅 - 主页 */
.hero-image {
  min-height: 50vh; /* 页面可视区域的 50% */
  background-image: url("antarctic-lights.jpg");
  background-size: cover;
  background-position: center;
}

/* 首页横幅 - 野生动物 */
.wildlife {
  background-image: url("antarctic-penguins.jpg");
}

/* 首页横幅 - 气候 */
.climate {
  background-image: url("antarctic-daytime.jpg");
}

/* 事实持有者 - 主页 */
.fact-holder {
  display: grid;
  height: 50vh; /* 页面可视区域的 50% */
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

/* 事实持有者 - 野生动物 */


/* 事实卡 */


.fact {
  font-size: 100%;
  color: var(--fact-text-colour);
  background-color: var(--fact-background);
  height: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 5px 0 5px;
}

/* 事实悬停 */



/* 事实图像 */

.sun {
  background-image: url("antarctic-sun.jpg");
}

.discovery {
  background-image: url("aerial-antarctica.jpeg");
}

.explorers {
  background-image: url("explorers.jpg");
}

.ownership {
  background-image: url("world_flags.png");
}

.research {
  background-image: url("research.jpg");
}

.penguins {
  background-image: url("wildlife-emperor-penguin.jpg");
}

.krill {
  background-image: url("wildlife-krill.jpg");
}

.seals {
  background-image: url("wildlife-seal.jpg");
}

.orcas {
  background-image: url("wildlife-orca.jpg");
}

.minke-whale {
  background-image: url("wildlife-minke-whale.jpg");
}

.albatross {
  background-image: url("wildlife-albatross.jpg");
}

.gentoo-penguin {
  background-image: url("wildlife-gentoo-penguin.jpg");
}

.temperature {
  background-image: url("climate-snow.jpg");
}

.sunburn {
  background-image: url("climate-sun.jpg");
}

.ice {
  background-image: url("climate-ice.jpg");
}

.rainfall {
  background-image: url("climate-rain.jpg");
}

/* 媒体查询 */
