/* 导入字体 */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {

  --body-background: #ece8ef;
  --body-text-colour: #000500;
  --body-font: "Orbitron", sans-serif;

  --nav-colour: #33658a;
  --nav-items-colour: #55dde0;
  --nav-items-active: white;

  --burger-colour: white;

  --fact-text-colour: #ece8ef;
  --fact-background: #000500a5;
}