
body {
    background-color: #ECE8EF;
    color: #000500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh; /* Make the content fill the page so the footer is at the bottom */
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    justify-content: center;
    margin: 0 auto; /* Center if the browser is really wide */
    min-width: 25rem; /* Don't let the content get too narrow */
    max-width: 70rem; /*  Don't let the content get too wide */
    padding: 0;
}

section {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    width: 100%;
}

/* Nav bar */

nav {
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Hero images */



/* Fact holders */

.fact-holder {
    display: grid;
    height: 50vh; /* 50% of the visible area of the page */
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
}

/* Fact cards */

.fact {
    font-size: 20px;
    color:#ECE8EF;
    background-color: #000500A5;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 5px;
}

/* Fact images */

.sun {
    background-image: url('antarctic-sun.jpg');
}

.discovery {
    background-image: url('aerial-antarctica.jpeg');
}

.explorers {
    background-image: url('explorers.jpg');
}

.ownership {
    background-image: url('world_flags.png');
}

.penguins {
    background-image: url('penguin-photo.jpg');
}

.krill {
    background-image: url('krill-photo.jpg');
}

.seals {
    background-image: url('seal-photo.jpg');
}

.orcas {
    background-image: url('orca-photo.jpg');
}

.temperature {
    background-image: url('snow.jpg');
}

.sunburn {
    background-image: url('sun.jpg');
}

.ice {
    background-image: url('ice.jpg');
}

.rainfall {
    background-image: url('rain.jpg');
}